@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>To do Management Web App</h1>
    <p class="lead">This is the Web App for class GCD0805</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>User Functionalities</h2>
        <p>
            For Users
        </p>
    </div>
    <div class="col-md-4">
        <h2>Manager Functonnalities</h2>
        <p>For Managers</p>
    </div>
    <div class="col-md-4">
        <h2>Admin Functionalitites</h2>
        <p>For Admins/p>
    </div>
</div>