@model IEnumerable<GCD0805AppDev.ViewModels.TeamUsersViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>All Teams</h2>
<div class="form-group">
    @Html.ActionLink("Create a new Team", "Create", "Teams", new { @class = "btn btn-primary" })
</div>
<form>
    <div class=" form-group">
        <input type="text" class=" form-control" placeholder="Search Team by Name" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
            <th scope="col">Team Members</th>
            <th scope="col">Add Team Member</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Team.Name</td>
            <td>
                <ul>
                    @foreach (var user in item.Users)
                    {
                        <li>@user.Email</li>
                    }
                </ul>
            </td>
            <td>
                @Html.ActionLink("Add User to Team", "AddUsers", "Teams", new { @class = "btn btn-primary" })
            </td>
        </tr>
        }
    </tbody>
</table>